.subline {
	transition: width 1.5s;
}

.inc {
	animation: increase 2s infinite;
}

.dec {
	animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
	0% {
		left: -5%;
		width: 5%;
	}
	100% {
		left: 130%;
		width: 100%;
	}
}

@keyframes decrease {
	from {
		left: -80%;
		width: 80%;
	}
	to {
		left: 110%;
		width: 10%;
	}
}